:root{
    --red: #e50914;
    --blue: #0071eb;
    --gray:#303030;
    --dimgray:#999999;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size:1rem;
    line-height:1.6;
    background-color:black;
    color:white;
}

h1{
    font-size:3rem;
}

img{
    width:100%;
}

/* lists */
ul{
    list-style:none;
}


/* utilities */
.container{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

.btn{
    display: inline-block;
    font-size: 1rem;
    color: white;
    background: var(--red);
    padding: .4rem 1.2rem;
    margin-right: .5rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.btn:hover{
    opacity:.9;
}

.btn-lg{
    font-size: 1.2rem;
    padding: 1.2rem 2rem;
    margin-top: 1rem;
}


/* inputs */

.input-group input{
    background:white;
    border:none;
    border-radius:2px;
    padding:.5rem;
    width:100%;
    display:block;
}

.input-group button{
    margin-top: .5rem;
    padding: 1rem 2rem;
    font-size:2rem;
}

.input-group .btn-primary{
    font-size: 1.05em;
    width: max-content;
    border-radius: 2px;
    padding: 2% 4%;
    margin-top: 3%;
    margin-left:auto;
    margin-right:auto;
}

/* header */
.showcase{
    height:100vh;
    width:100%;
    background: url('img/showcase.png') no-repeat center center/cover;
    padding-top: 1rem;
    position:relative;
}

.showcase-top{
    display:flex;
    justify-content: space-between;
}

.showcase-top button{
    font-size:1.5rem;
}

.branding{
    color:var(--red);
    text-transform:uppercase;
    font-size:2rem;
}

select{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    padding: .2rem .5rem;
    margin-right:1rem;
    font-size:1.5rem;
}

select option{
    background-color:dimgray;
}

/* showcase */
.showcase-content{
    text-align:center;
    margin-top:16%;
    width:85%;
    margin-left:auto;
    margin-right:auto;
}

/* sections */

section{
    border-top: 6px solid var(--gray);
    padding: 4rem 3rem;
}

section h3{
    font-size: 3rem;
    margin: 1rem 0;
}

section p{
    font-size:1.6rem;
    max-width:600px;
}

section img{
    margin-top:1rem;
}

/* downloads */
.download-info{
    border: 2px solid dimgray;
    border-radius: 6px;
    display:flex;
    padding:1rem;
}

.download-info p{
    color:var(--blue);
}

.img-wrapper{
    width:1rem;
}

.img-wrapper img{
    width:100%;
}

/* frequently asked questions (FAQ) */
#faq{
    max-width:1100px;
}

#faq h2{
    text-align:center;
    margin-bottom:1rem;
}

#faq li{
    background-color:var(--gray);
    margin-top:.5em;
    padding:1em;
}

#faq li:hover{
    cursor:pointer;
}

/* footer */
footer{
    border-top: 6px solid var(--gray);
    padding:4rem 3rem;
}

footer a{
    color:var(--dimgray);
    font-size:1rem;
    text-decoration:none;
}

footer a:hover{
    text-decoration:underline;
}

footer ul{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    max-height:150px;
}

footer ul li{
    margin:.3rem;
}

/* adaptation */
@media(min-width:768px){
    html{
        font-size: 90%;
    }

    section{
        display:flex;
    }

    #faq{
        display:block;
    }

    .input-group{
        display:flex;
        width:50%;
        height: 5rem;
        margin: 1rem auto;
    }

    .input-group button{
        margin-top:0;
    }
}